* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  background-color: #aaffa9;
  overflow-x: hidden;
}
h1 {
  margin: 10px;
}
.box {
  background-color: steelblue;
  color: #fff;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(250%);
  transform: transform 0.4s ease;
}
.box.show {
  transform: translateX(0);
}
.box:nth-of-type(even) {
  transform: translateX(-250%);
}
.box h2 {
  font-size: 40px;
  letter-spacing: 0.5px;
}
